* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFF00;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 30px;
    background-color: white;
    color: black;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.slide {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
	background: linear-gradient(to right, #89CFF0, #00FFFF);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slide h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.slide p {
    font-size: 20px;
    margin-bottom: 20px;
	text-align: justify;
}

.slide img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
}
nav {
    margin: 20px 0;
    text-align: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0;
    width: 1000px; 
    margin: 0 auto; 
}

nav ul li {
    display: inline-block;
    margin: 40px 0; 
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 40px 40px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: block; 
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: Blue;
    color: white;
}

.image-container {
    position: relative; 
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

.image-container img {
    width: 100%; 
    height: auto;
}


.image-overlay {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 32px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    border-radius: 5px;
}
.home {
    position: fixed;
    left: 100px;  
    bottom: 50px; 
    
    padding: 1px;
    font-size: 24px;
    border-radius: 0%;
    text-decoration: none;
    display: block; 
    opacity: 0.9;  
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.home:hover {
    
    opacity: 1;    
}
.home img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.back-to-top {
    position: fixed;
    right: 20px;  
    bottom: 20px; 
    color: white;
    padding: 15px;
    font-size: 24px;
    border-radius: 10%;
    text-decoration: none;
    display: block; 
    opacity: 0.8;  
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.back-to-top:hover {
    background-color: none; 
    opacity: 1;  
}
.back-to-top img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 20px 0;
}
